<h1>Quiz: {{ quiz.name }}</h1>
<form method="post" action="{% url 'quizzes:submit_quiz_attempt' quiz.id %}">
  {% csrf_token %}
  <ul style="list-style-type: none;">
    {% for question in quiz.question_set.all %}

    <li>
      <h2>{{ question.title }}</h2>

      <ul style="list-style-type: none;">
        {% for option in question.questionoption_set.all %}
        <li>
          <input
            type="radio"
            id="{{ option.id }}"
            name="{{question.id}}"
            value="{{ option.id }}"
            required
          />
          <label for="{{option.id}}">{{option.title}}</label>
        </li>

        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>

  <button type="submit">Finish</button>
</form>
