{% extends 'base.html' %}
{% load static %}


{% block title %}
  The Royal Academy ~ Home
{% endblock %}


{% block css_files %}
  <link rel="stylesheet" href="{% static 'home/index.css' %}">
{% endblock %}


{% block content %}

  <main>
    <h1>Welcome to Royal Academy!</h1>
  <div>
    <img src="{% static 'home/images/students.jpg' %}" style="max-width:300px; height:200px" alt="image of students in computer">
    <p>Royal Academy was born of an idea to help students grow and learning while
      playing. We believe in education, and we created this software with the purpose
      of helping students succeed.<p>

    <p>We invite all students to use our program to improve their academic skills, or
      memorize key concepts for their courses. 
    </p>
  </div>

    <h3>Contributors:</h3>
    <ul>
      <li>Matt Steele</li>
      <li>Ryan Brower</li>
      <li>Joseph Devincenzi</li>
      <li>Daniel De La Pena</li>
    </ul>
  <main>

  {% include "home/includes/footer.html" %}

{% endblock %}