
/* ===== HEADER & FOOTER STYLING ===== */

header,
footer {
  padding: 12px 1rem;
  background-color: rgb(15, 41, 118);
}

header,
footer,
.logo-box,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo-box img {
  max-height: 40px;
  max-width: 40px;
}

nav {
  width: 50%;
}

header h2 {
  margin: 0;
  color: goldenrod;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: goldenrod;
  transform: scale(1.3);
}

footer p {
  color: white;
  margin: 0;
}

/* ===== SMALL SCREEN STYLING ===== */

@media only screen and (max-width: 40rem) {

    header,
    footer,
    nav {
      flex-direction: column;
    }
  
    nav {
      padding-top: 1rem;
    }
  
    nav a {
      margin: 5px;
    }
  
  }