{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'normalize.css' %}"></style>
  {% block css_files %}{% endblock %}
</head>

<body>
  {% block nav %}
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
        <a href="/flashcards">Flash Cards</a>
        <a href="/mathbubbles">Math Bubbles</a>
        <a href="/quizzes">Quizzes</a>
        <a href="/typer">Typer</a>
      </li>
    </ul>
  </nav>
  {% endblock %}
  {% block content %}
  {% endblock %}

  <footer>
    {% block scripts %}
    {% endblock %}
  </footer>
</body>

</html>