{% extends 'base.html' %}
{% load static %}


{% block title %}
  Test your typing skills!
{% endblock %}


{% block css_files %}
<link rel="stylesheet" href="{% static 'typer/index.css' %}">
<link rel="stylesheet" href="{% static 'home/includes/header.css' %}">
{% endblock %}


{% block content %}

  <main>
    <h1>Put your typing skills to the test.</h1>
    <a href="{% url 'test-start' %}" id="start-btn">Start</a>
  </main>

  {% include "home/includes/footer.html" %}

  <script src="{% static 'typer/scripts/testHome.js' %}"></script>
{% endblock %}