{% extends 'base.html' %}
{% load static %}

{% block title %}
  Test your typing skills!
{% endblock %}


{% block css_files %}
<link rel="stylesheet" href="{% static 'typer/index.css' %}">
<link rel="stylesheet" href="{% static 'home/includes/header.css' %}">
{% endblock %}

{% block content %}

{% include "home/includes/header.html" %}

<main>
  <h1>Put your typing skills to the test.</h1>
  <a href="#" id="start-btn">Start</a>
  <h3>High Scores:</h3>
  <ol class="high-scores">
    <li>Ryan: 1,000,000 wpm</li>
    <li>Tim: 8 wpm</li>
    <li>Oliver: 17 wpm</li>
  </ol>
</main>

{% include "home/includes/footer.html" %}

{% endblock %}