{% extends "base.html" %}
{% load static %}


{% block title %}
  Typing Test - In Progress
{% endblock %}


{% block css_files %}
  <link rel="stylesheet" href="{% static 'typer/test.css' %}">
{% endblock %}


{% block content %}

  <div class="gameboard">
    <header>
    <a href="{% url 'test-home' %}">quit</a>
    </header>

    <main>
      <h3>Quick! Type the words as fast as you can!</h3>
      <div class="words-box"></div>
      <textarea></textarea>
    </main>

    <footer>
      &copy 2022 Royal Academy
    </footer>
  </div>

  <script src="{% static 'typer/scripts/testScreen.js' %}"></script>
{% endblock %}
